<ion-view view-title="Organizations">
  <ion-nav-buttons side="right">
    <button class="button icon ion-funnel" ng-click="doSomething()">
    </button>
  </ion-nav-buttons>
    <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>  
  <ion-content>
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
    <ion-list>
      <ion-item class="item" ng-repeat="org in verified" type="item-text-wrap" href="#/organizations/{{org.id}}">
          <h2>{{org.firstName}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>