<ion-view view-title="Map" class="tab-map">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>  
    <ion-content>
    
      <div id="map" data-tap-disabled="true"></div>      
    </ion-content>
  
    <ion-footer-bar align-title="center" class="bar-positive" ng-if="isVerified">
      <div class="title" ng-click="modal.show()">Add Event</div>
    </ion-footer-bar>
  
</ion-view>

<!-- Shows Events At Marker Location -->
  <script id="map-events.html" type="text/ng-template">
    
    <div class="modal">
      <header class="bar bar-header bar-positive">
        <h1 class="title">Events</h1>
        <button class="button button-clear button-primary" ng-click="map_events.hide()">Cancel</button>
      </header>
      <header class="bar bar-subheader">
        <h2 class="title">{{selected_marker.title}}</h2>
      </header>
      <ion-content class="has-header has-subheader">
        <ion-list>
      <ion-item class="item" ng-repeat="event in events_at_location | orderBy:'date'" type="item-text-wrap" href="#/event-detail/{{event.id}}" ng-click="map_events.hide()">
          <time class="icon {{event.date | date: 'EEEE'}}">
          <span class="month">{{event.date | date: 'MMMM'}}</span>
          <span class="day">{{event.date | date: 'd'}}</span>
          <span class="week">{{event.date | date: 'EEEE'}}</span>
          </time>
          <h2>{{event.name}}</h2>
          <p><i class="ion-clock"></i> {{event.date | date: 'MM/dd/yy'}} | {{event.date | date: 'shortTime'}}</p>
          <p><i class="ion-location"></i> {{event.__metadata.descriptives.locationId.label}}</p>
      </ion-item>
      </ion-content>
    </div>

</script>
